# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.eggs
*.env
*.venv
venv/
env/
ENV/
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Sample data
sample_data/
